<!doctype html>
<html>
    <head>
        <title>Human Resource</title>
    </head>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{static '/dist/css/bundle.css'}}" />



<body class="hold-transition skin-blue sidebar-mini" >

    <div class="wrapper">

            <!-- Main content -->
            <section class="content">
                <!-- Small boxes (Stat box) -->
                {{{body}}}

            </section><!-- right col -->
        </div><!-- /.row (main row) -->

    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2015 <a href="http://smartdev.vn">Smartdev LLC</a>.</strong> All rights reserved.
    </footer>

    <script type='text/javascript' id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.2.10.0.js'><\/script>".replace("HOST", location.hostname));
    //]]></script>


    </body>


</html>